---
layout: default
title: Home
---
<section>
  {% assign all = site.writeups | concat: site.articles | sort: "date" | reverse %}
  {% for post in all %}
  <article class="writeup-card">
    {% if post.image %}
    <div class="writeup-card-img">
      <img src="{{ post.image }}" alt="{{ post.title }}">
    </div>
    {% endif %}
    <div class="writeup-card-text">
      <span class="writeup-date">{{ post.date | date: "%b %d, %Y" }}</span>
      <a href="{{ post.url }}" class="writeup-card-title">{{ post.title }}</a>
      <p class="writeup-card-desc">{{ post.description }}</p>
    </div>
  </article>
  {% endfor %}
</section>
