<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/assets/mollyfavicon2.png">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/rouge.css">
</head>
<body>
  <div class="layout">
    <aside class="sidebar">
      {% include sidebar.html %}
    </aside>

    <main class="content">
      {{ content }}
    </main>
    <aside class="sidebar-right">
      {% include sidebar-right.html %}
    </aside>
  </div>
</body>

</html>
